<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Better Pantry"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity
            android:name="com.anonymousassociate.betterpantry.wear.MainActivity"
            android:exported="true"
            android:label="Better Pantry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.anonymousassociate.betterpantry.wear.WearDataListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/next_shift_data" />
            </intent-filter>
        </service>

        <service
            android:name="com.anonymousassociate.betterpantry.wear.NextShiftTileService"
            android:label="Next Shift"
            android:icon="@mipmap/ic_launcher"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
        </service>

    </application>

</manifest>
